body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f8ff;
}

/* Encabezado */
header {
    background-color: #cfe8ff;
    text-align: center;
    padding: 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
    color: #1d4e89;
}

header h2 {
    margin-top: 10px;
    color: #3a6ea5;
}

/* Contenedor */
.contenedor-tareas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
}

/* Tarjetas */
.tarjeta {
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.tarjeta:hover {
    transform: scale(1.05);
    background-color: #e6f2ff;
}

.tarjeta h3 {
    color: #1d4e89;
}
