*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f4f8ff;
}

/* HEADER */

.header{
    background:#dbeeff;
    text-align:center;
    padding:40px;
    box-shadow:0 3px 8px rgba(0,0,0,0.08);
}

.header h1{
    color:#2c5aa0;
}

.header p{
    color:#4a7ac7;
    margin-top:10px;
}

/* TABLERO */

.tablero{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
    padding:40px;
}

/* TARJETAS */

.card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    text-decoration:none;
    color:black;
    transition:.3s;
    box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.card:hover{
    transform:translateY(-8px);
}

/* Imagen */

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/* Info */

.card-info{
    padding:20px;
}

.card-info h3{
    color:#2c5aa0;
    margin-bottom:10px;
}

/* Tag */

.tag{
    background:#cfe6ff;
    color:#2c5aa0;
    padding:6px 12px;
    border-radius:20px;
    font-size:13px;
}